/*.image-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}


.grid-container {
    display: grid;
    grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
     background-color: #004225;
    height: 100vh;
}

.gallery-img {
    cursor: pointer;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.gallery-img:hover {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}